/*font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Quicksand', sans-serif;*/

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: #353535;}
body{font-family: 'Montserrat','Noto Sans KR',sans-serif; font-size: 14px; line-height: 23px;} 


/******* main ********/

/*header*/
#header{letter-spacing: 0.1em; background: #fff; font-family: 'Quicksand', sans-serif; font-size: 20px; text-align: center; color: #222222; height: 200px;}
.header_inner{width: 1000px; height: 130px; margin: auto;}

.right_nav{float: right; font-size: 17px; color: #555; font-weight: bold; padding-top: 10px;}
.right_nav li{float: left; padding: 0 15px;}
.right_nav li a{font-size: 13px;}
.icon{float: right; padding-top: 10px;}
.icon li{float: left; padding: 0 10px;}

.scroll-menu{ overflow: hidden;}
.center_nav{width: 857px; position: absolute; left: 50%; margin-left: -397.5px; font-size: 17px; font-weight: 600; letter-spacing: 0.1em; color: #2222;}
.center_nav> li{float: left;}
.center_nav> li> a{display: block; padding: 22px 70px;}
.center_nav> li> a:hover{color: #80d4ff;} /*메뉴*/


.bg{width: 300%; z-index: 99; position: absolute; background-color: #fff; padding: 15px 0; left: -100%; display: none;/*서브메뉴 안보이게*/  border-top: #f2f2f2 1px solid; border-bottom: #f2f2f2 1px solid;}
.center{width: 857px; margin: auto;}
.sub1{width: 191.75px; text-align: center;}
.sub3{margin-left: 191.75px; width: 206.56px; text-align: center;}
.sub4{float: right; width: 256.23px; text-align: center;}

.bg li a{font-size: 15px; display: block; text-align: center; padding: 10px 50px;}
.bg li a:hover{color: #80d4ff; display: block;} /*서브메뉴*/
.bg:hover{background-color: #fff;}
.sub4 li{float: left; width: 50%; margin: auto; text-align: center;}
.center_nav li:hover .bg{display: block;}


h1{margin: auto; padding-top: 50px; }

/*모바일 메뉴 꾸미기*/
.sidebar{padding-top: 60px; font-size: 20px; text-align: center;}
.sidebar li{font-weight: bold; padding: 10px 0;}
.sidebar li a:hover{color: #fff;}
.m_sub{display: none; font-size: 15px; border-bottom: 1px solid rgba(137, 220, 253, 0.9);}
.m_sub li{border-top: 1px solid rgba(137, 220, 253, 0.9);}
.sidebar li:hover .m_sub{display: block; background-color: rgba(255, 255, 255, 0.7); margin-top: 10px;}
.sidebar li:hover .m_sub a{color: #80d4ff;}



/*banner*/
#banner{width: 100%; margin:auto; padding-bottom: 150px;} 

/*팝업창*/
.popup{position: fixed; width: 519px; z-index: 100; top: 300px; left: 700px;}
.popup p{background-color: #353535; text-align: right; padding-right: 15px;}
.popup a{color: #fff;}
.popup img{display: block;}

/*best*/
#best{padding-top: 50px;}
.b_inner{text-align: center;}
.b_inner p{font-family: 'Noto Sans KR', sans-serif; font-size: 18px; padding: 10px 0 0px 0;}
.b_inner h2{font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 33px; padding:20px 0 20px 0; color:#508ca7; letter-spacing: 0.05em;}
.number{position: absolute; top:60px; left:50%; transform: translateX(-50%); z-index: 2;}
.n1{top: 22px;}
h3{font-size: 20px; font-weight: bold; padding-top: 10px;}
.flip{position: relative;}
.back{position: absolute; top: 0; left: 0; z-index: -1;}
.flip img{transition: all 0.3s;}
.flip:hover img{transform: rotateY(180deg); } 
.flip:hover .back{z-index: 1;}
.flip{border: 2px solid #a6a6a6;}

.hide_number{display: none;}


/*contents*/
#contents{padding-top: 100px;}


.t_border{font-size: 20px;}
.t_border span{border: 1px solid #000; display: inline-block; width: auto;  text-align: center; padding: 10px 20px; margin: 30px 0;}
.t_left{float: left;}
.c_banner1_t1 p:nth-child(2){font-size: 40px; line-height: 50px;}
.c_banner1_t1 p:nth-child(4){font-size: 18px; margin-top: 10px;}
div.t_left{width: 969px; height: 1px; background-color: #000; margin: 20px 20px 0 20px;}
.c_banner1_t1{height: 165px;}
.c_banner1_t2 p{float: left; text-align: center; padding: 10px 20px; font-size: 20px; line-height: 30px;}
.c_b1_inner{width: 1320px; margin: auto;}
.c_banner1{background-color: #f7f8f9;}
.c_banner1_t2{text-align: center; height: 149px; width: 1000px; margin: auto;}
.c_banner1_img{text-align: center; padding-top: 50px; width: 660px; margin: auto;}
.c_banner1_t2 .t_left{width: 33.33%; padding: 10px 0;}

.c_banner2_t2 .t_left{width: 33.33%; padding: 10px 0;}
.c_banner2_t1 p:nth-child(2){font-size: 40px; line-height: 50px;}
.c_banner2_t1 p:nth-child(4){font-size: 18px; margin-top: 10px;}
.c_banner2_t2{text-align: center; width: 900px; margin: auto;}
.c_banner2_t1{height: 165px;}
.c_b2_inner{width: 1320px; margin: auto;}
div.t_left2{width: 958px; height: 1px; background-color: #000; margin: 20px 20px 0 20px;}
.t_left2{float: left;}
.c_banner2{background-color: #f1f6f8;}
.c_b2_inner{width: 1320px; margin: auto;}
.c_banner2_t2 b{font-size: 20px;}
.c_banner2_t2 p{float: left; text-align: center; padding: 10px 20px; font-size: 15px; line-height: 30px;}
.c_banner2_t2 .t_left.white{background-color: #fff; width: 30%;}
.c_banner2_t2 .t_left.white:nth-child(2){margin: 0 5%;}
.c_banner2_t2{overflow: hidden; padding-bottom: 30px;}
.c_banner3_img{width: 100%;}
.c_banner1_img img{display: block;}


/*MD*/
#md{width: 1320px; margin: auto; padding-top: 50px;}
.md_inner{width: 1316px;  margin: auto; position: relative; text-align: center;}
.md_border{display: inline-block; padding: 3px 15px; font-family: 'Quicksand', sans-serif; font-size: 17px; line-height: 30px; border: 1px solid #222222;}
.md_inner h2{font-size: 33px; padding:20px 0 20px 0; color: #508ca8; letter-spacing: 0.05em;}
.md_img{padding: 50px 0; height: 514px; box-sizing: content-box;}
.md_img> img{display: block; float: left;}
.icon_right{padding-top: 150px; margin: 0 42.75px;}

.MD{float: left;}
.MD p{padding-top: 10px;}
.MD b{font-size: 18px;}


/*video*/
#video{text-align: center; padding: 100px 0 150px 0;}
.main_video{width: 100%;  margin: auto;}

/*promotion*/
#promotion{width: 100%; text-align: center;}
#promotion h2{font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 33px; padding:20px 0 20px 0; color: #508ca8; letter-spacing: 0.05em;}

#promotion p{font-family: 'Noto Sans KR', sans-serif; font-size: 18px; padding: 10px 0 0px 0;}

/*.line3{width: 230px; height: 5px; background-color: #508ca8; margin: auto;}*/
#promotion img{padding: 50px 10px;}

.go{width: 100%; display: block; padding-top: 100px;}

/*footer*/
#footer{border-top: 1px solid #f2f2f2; background-color: #f5f5f5;}
.footer_inner{width: 1316px; margin: auto; text-align: center;}
.footer_inner ul li{float: left; padding: 30px 15px 10px 15px;}
.footer_inner ul li a{color: #353535; font-weight: bold; letter-spacing: 0.1em; font-size: 15px;}
.footer_inner ul li a:hover{color: #80d4ff;}
.footer_inner ul{display: inline-block;}
.footer_inner p{font-size: 13px; clear: both; color: #8e8a87; padding: 10px 0 20px 0;}

.top{position: fixed; bottom: 100px; right: 50px; display: none;}
.bottom{position: fixed; bottom: 30px; right: 50px; display: none;}

.m_nav{display: none;}

/******* main 끝 ********/

/*모바일*/
@media(max-width:1319px){
  /*움직이는 메뉴버튼*/

  .m_nav{display: block;}
  .scroll-menu{display:none;}
  .right_nav{display: none;}
  .icon{display: none;} 
  .scroll-title{text-align: center;}
  .popup{display: none;}
  #best{width: 100%;}
  .slider{width: 80%;}
  .header_inner{width: 100%;}
  .slick-next{top: 53%}
	.slick-prev{top: 53%;}
	.slick-slide .number{width: 30%; display: none;}
	.b_inner .hide_number{padding: 15px 20px; background-color: #508ca8; margin: auto; color: #fff;}
	.hide_number{position: absolute; top: 72px; left: 50%; transform: translateX(-50%); display: block;}

  #md{width: 100%;}

  .md_inner{width: 100%;}
  .md_img .icon_right{display: none;}
  .MD{width: 30%;}
	.MD:nth-child(3){padding: 0 5%;}
  .md_inner h2{padding-bottom: 0;}
  .c_b2_inner{width: 90%;}
  .c_banner1_t2{width: 90%;}
  div.t_left{display: none;}
  .footer_inner{width: 100%;}
  .c_banner1_t2 .t_left{width: 33.3%;}
  div.t_left2{display: none;}
	.c_b1_inner{width: 100%;}
	.c_banner1_t1{height: 220px;}
  .t_left{float: none; text-align: center;}
	.t_left b br{display: none;}
	.t_border{text-align: center;}
	.c_banner2_t2{width: 100%;}
	.c_banner2_t1{height: auto; padding-bottom: 50px;}
	.c_banner3_img{width: 100%;}
	.t_left.white a{font-size: 18px;}
	.md_img img{width: 100%;}

	#promotion a{display: block; float: left; width: 49%;}
	#promotion img{padding: 50px 0; width: 100%;}
	.event1{margin-right: 2%;}

input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:60px;
	height:40px;
	position:fixed;
	right:30px;
	top:30px;
	z-index:100;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#80d4ff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background: #508ca8;
	transition:all 0.5s;
}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


/*메뉴 창*/
.sidebar{
	width:50%;
	height:100%;
	background: rgba(207, 235, 246, 0.9);;
	position:fixed;
	top:0;
	right:-100%;
	z-index:99;
	transition:all 0.5s;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}
}/*모바일 끝나는 부분*/

/*모바일 729*/
@media(max-width:729px){
	.footer_inner ul{display: none;}
	.footer_inner p{padding: 20px 0;}
	.c_banner1_img{width: 100%;}
	.c_banner1_img img{width: 100%;}
	#banner{padding-bottom: 80px;}
	#contents{padding-top: 60px;}
	.t_left.white a{font-size: 12px;}
	#video{padding: 0;}
	.md_img{height: 437px;}
	.go{padding: 0;}
	.hide_number{top: 65px;}
	.b_inner p{font-size: 22px;}

/*모바일 599*/
@media(max-width:599px){
	h1{padding-top: 40px; padding-bottom: 40px;}
	#header{height: 150px;}
	#best{padding-top: 0;}
	.b_inner p{padding-top: 0;}
	.hide_number{top: 30px;}
	.slick-slide{padding-top: 60px;}
	#banner{padding-bottom: 50px;}
	.b_inner h2{font-size: 25px;}
	.b_inner p{font-size: 15px;}
	.b_inner .hide_number{padding: 20px 25px; font-size: 30px;}
	.c_banner1_t2 p{float: none;}
	.t_left{margin: auto;}
	.c_banner2_t2 .t_left.white{width: 100%; margin-bottom: 30px;}
	.MD{width: 60%;}
	.c_banner3_img{display: none;}
	#video{padding: 50px 0;}
	.go{padding: 0;}
	#promotion h2{font-size: 25px;}
	#promotion p{font-size: 15px;}
	.md_border{font-size: 15px;}
	.md_inner h2{font-size: 25px;}
	.c_banner1_t2{height: auto;}
	.c_banner1_t2 .t_left{width: 100%;}
	.c_banner2_t2 .t_left.white:nth-child(2){margin: 0; margin-bottom: 30px;}
	.md_inner{width: 100%;}
	.MD{width: 80%; margin: auto; float: none;}
	.md_img{padding: 0; height: auto;}
	.md_img img{padding-top: 30px; width: 60%;}
	.footer_inner p{font-size: 11px; padding: 0 55px;}
	.slider{width: 70%;}
	#promotion a{float: none; width: 100%; margin: 0;}
	.t_left.white a{font-size: 20px;}
	.c_banner2_t2 b{font-size: 25px;}
	#promotion img{padding: 0;}
	.event1{padding: 30px 0 20px 0;}
	.event2{padding: 0px 0 30px 0;}
	.top img, .bottom img{width: 30px;}
	.top{bottom: 70px;}
	input[id="menuicon"]+label{
		width:30px;
		height:20px;
		position:fixed;
		right:30px;
		top:30px;}
		.go{display: none;}
}/*모바일 끝나는 부분*/

@media(max-width:541px){
	.footer_inner p{padding: 5%;}
}